form {
  background-color: transparent;
  padding: 0em;
}

td {
  border-bottom: 10px;
}

.pagination--pager.disabled {
  background-color: #e9dcbe;
}

.pagination--pager {
  background-color: #e9dcbe;
}
