.page__hero--overlay {
  padding: 1em;
}

.page__hero--overlay .page__title {
  text-shadow: unset;
}

.page__hero--overlay .page__lead {
  text-shadow: unset;
}

.btn {
  font-family: sans-serif;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  border-radius: 58px;
}

.page__hero--overlay .btn {
  background-color: #fff;
  color: #0075a2;
  text-shadow: unset;
}

.page__hero--overlay .btn:hover {
  background-color: #777;
  color: #fff;
}

#main {
  padding-left: 1em;
  padding-right: 1em;
}

.page__content .archive__item-title {
  margin-top: 2em;
}

#documentation .feature__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: auto;
}

.feature__wrapper {
  border-bottom: unset;
  margin-bottom: unset;
}

.archive__item-teaser {
  background-image: url('../images/icon_background.png');
}

.feature__item {
  @media (max-width: 37.5em) {
    width: 100%;
  }
  background-color: #eee;
  margin-bottom: 1em;
  border-radius: 4px;
}

.feature__item .archive__item-title {
  text-align: center;
}

.feature__item .archive__item-body {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.feature__item .archive__item-teaser img {
  height: 80px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contribute .feature__item .archive__item-teaser img {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
}

.feature__item .btn:hover {
   background-color: #777;
   color: #fff;
}

#contribute .feature__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: auto;
}

#contribute .feature__item {
  @media (min-width: 37.5em) {
    width: 45%;
    margin-inline-start: 3.3%;
  }
}

#blog {
  margin-top: 2em;
  background-color: #eee;
  border-radius: 4px;
}

.entries-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  margin-bottom: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.grid__item {
  @media (max-width: 37.5em) {
    width: 100%;
  }
  background-color: #ccc;
  padding: 0.5em;
  border-radius: 4px;
}

.grid__item .archive__item-title {
  text-align: center;
}

.grid__item .archive__item-excerpt {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.grid__item .grid__item-teaser img {
  width: initial;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about .feature__wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

#about .feature__wrapper .btn {
  background-color: #0075a2;
  color: #fff;
}

#about .archive__item-title {
  margin-top: 0.5em;
}

.feature__item--center {
  text-align: center;
}

.page .page__inner-wrap {
  background-color: #eee;
  padding: 0.5em;
  border-radius: 4px;
}

.page__meta + .pagination {
  padding-top: 0;
  background-color: #fff;
}

.page__footer {
  background-color: #eee;
}
