/* ==========================================================================
   MASTHEAD
   ========================================================================== */
/*.masthead {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 70px;
  background-color: #f3f3f3;
}*/
/*
.page__hero--overlay {
  background: url(/assets/images/pattern-4.gif) repeat left top;
}
*/
.initial-content {
  //position: relative;
  //top: 70px;
  background: url(/assets/images/pattern-1.png) repeat left top;
}
/*
#about {
  background: url(/assets/images/pattern-2.gif) repeat left top;
}

@font-face {
  font-family: "homestead_regularregular";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/homestead-regular-webfont.woff") format("woff");
}

h1, h2, h3, h4, h5, h6, .archive__item-title, .masthead__inner-wrap {
  font-family: 'homestead_regularregular', serif;
  color: #444035;
  //font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}

.archive__item-excerpt {
	color: #a9862b;
}
*/