---
title: "Welcome to <i>The</i> Least-Authority File Store"
layout: splash
author_profile: false
header:
  overlay_color: "#101820"
  overlay_image: /assets/images/overlay.png
  actions:
    - label: "Download"
      url: "https://tahoe-lafs.org/downloads"
excerpt: >-
  Tahoe-LAFS is a Free and Open decentralized cloud storage system.
  It distributes your data across multiple servers.<br/>
  Even if some of the servers fail or are taken over by an attacker,
  the entire file store continues to function correctly, preserving your privacy and security.
documentation:
  - title: "Documentation"
documentation_list:
  - image_path: /assets/images/overview.svg
    alt: "overview"
    title: "Overview"
    excerpt: >-
      <center>
      <a href="https://tahoe-lafs.readthedocs.io/en/latest/about-tahoe.html">One-page summary</a>
      </center>
  - image_path: /assets/images/manual.svg
    alt: "manual"
    title: "Manual"
    excerpt: >-
      <center>
      <p><a href="https://tahoe-lafs.readthedocs.io/en/latest/Installation/install-tahoe.html">Installation Instructions</a></p>
      <p><a href="http://tahoe-lafs.readthedocs.org/">Tahoe-LAFS Manual</a></p>
      </center>
  - image_path: /assets/images/wiki.svg
    alt: "wiki"
    title: "Wiki"
    excerpt: >-
      <center>
      <p><a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/Doc">Index of docs</a></p>
      <p><a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/FAQ">Frequently Asked Questions</a></p>
      </center>
contribute:
  - title: "Get Involved"
    excerpt: '
      Interested in learning more or wanting to contribute to Tahoe-LAFS?<br/>
      There are various ways to get involved!
    '
contribute_list:
  - image_path: /assets/images/discussions.svg
    alt: "discussions"
    title: "Discussions"
    excerpt: '<ul>
      <li>Join <a href="https://lists.tahoe-lafs.org/mailman/listinfo/tahoe-dev" target="_blank">the <b>tahoe-dev</b></a> mailing list</li>
      <li>Join the <a href="https://web.libera.chat/#libera" target="_blank"><b>#tahoe-lafs</b></a> channel on Libera</li>
      <li>Meet us on <a href="https://meet.jit.si/AccurateFiltersManipulateBefore" target="blank"><b>Tuesday</b></a> at 17:00 UTC on Jitsi </li>
    </ul>'
  - image_path: /assets/images/collaborations.svg
    alt: "collaborations"
    title: "Collaborations"
    excerpt: >-
      <ul>
      <li><a href="https://leastauthority.com/" target="_blank">Least Authority</a> uses and contributes to Tahoe-LAFS</li>
      <li>Google, Inc. sponsored Tahoe-LAFS through its Summer of Code program in 2010 and 2013</li>
      </ul>
  - image_path: /assets/images/issues.svg
    alt: "issues"
    title: "Issues"
    excerpt: '<ul>
      <li>Visit the <a href="https://tahoe-lafs.org/trac/tahoe-lafs"><b>issue</b></a> tracker</li>
      <li>Ask for an <b>account</b> on <a href="https://web.libera.chat/#tahoe-lafs">IRC</a> to interact</li>
    </ul>'
  - image_path: /assets/images/code.svg
    alt: "code"
    title: "Code"
    excerpt: '<ul>
      <li>Checkout the <a href="https://github.com/tahoe-lafs/tahoe-lafs"><b>source</b></a> and start hacking</li>
      <li>Submit pull request with a valid issue number</li>
    </ul>'
blog:
  - title: "Latest News"
    excerpt: ""
about:
  - title: "About us"
    image_path: /assets/images/aboutus.png
    alt: "aboutus"
    excerpt: >-
      Tahoe-LAFS is an open-source project supported by donations
      and maintained by a group of hardy volunteers.
      We are grateful for their energy, expertise, and support.
      Check out some of the main contributors to this project!
    url: "https://tahoe-lafs.org/trac/tahoe-lafs/wiki/AboutUs"
    btn_label: "Our Contributors"
---
<div id="documentation">
{% include feature_row id="documentation" type="center" %}
{% include feature_row id="documentation_list" %}
</div>

<div id="contribute">
{% include feature_row id="contribute" type="center" %}
{% include feature_row id="contribute_list" %}
</div>

<br/>
<div id="blog">
{% include feature_row id="blog" type="center" %}
<div class="entries-grid">
  {% for post in site.posts %}
  <div class="grid__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="archive__item-teaser">
        <img src="{{ post.header.teaser | relative_url }}" alt="">
      </div>
      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
      </h2>
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt }}</p>
    </article>
  </div>
  {% endfor %}
</div>
</div>
<br/><br/><br/>
<div id="about">
{% include feature_row id="about" type="left" %}
</div>
