---
title: "Welcome <i>The</i> Least-Authority File Store"
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.4"
  overlay_image: /assets/images/overlay.jpg
  actions:
    - label: "Download"
      url: "https://tahoe-lafs.org/downloads"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Tahoe-LAFS is a Free and Open decentralized cloud storage system.
  It distributes your data across multiple servers.<br/>
  Even if some of the servers fail or are taken over by an attacker,
  the entire file store continues to function correctly, preserving your privacy and security."
documentation:
  - title: "Read Some Nice Docs"
documentation_list:
  - image_path: /assets/images/overview.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "overview"
    title: "Overview"
    excerpt: "A one-page summary explains the unique properties of this system."
    url: "https://tahoe-lafs.readthedocs.io/en/latest/about-tahoe.html"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/manual.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "manual"
    title: "Manual"
    excerpt: "User manual with installation instructions and configuration guides."
    url: "https://tahoe-lafs.readthedocs.io/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/wiki.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "wiki"
    title: "Wiki"
    excerpt: "FAQ and other Wiki pages.<br/><br/>"
    url: "https://tahoe-lafs.org/trac/tahoe-lafs/wiki/FAQ"
    btn_label: "Read More"
    btn_class: "btn--primary"
contribute:
  - title: "Get Involved"
    excerpt: ""
contribute_list:
  - image_path: /assets/images/mailing.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "mailing"
    title: "Mailing list"
    excerpt: "Join the tahoe-dev mailing list.<br/><br/><br/><br/>"
    url: "https://lists.tahoe-lafs.org/mailman/listinfo/tahoe-dev"
    btn_label: "Subscribe"
    btn_class: "btn--primary"
  - image_path: /assets/images/messaging.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "messaging"
    title: "Instant messaging"
    excerpt: "Join the **#tahoe-lafs** channel on [Libera](https://libera.chat/) or [Matrix](https://app.element.io/#/room/#tahoe-lafs:libera.chat).<br/><br/><br/>"
    url: "https://libera.chat/"
    btn_label: "Chat"
    btn_class: "btn--primary"
  - image_path: /assets/images/meet.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "meet"
    title: "Meeting"
    excerpt: "Join our Tuesday 1700 UTC weekly meetings for project governance (first Tuesday of the month) and technical (other Tuesdays) discussion."
    url: "https://meet.jit.si/AccurateFiltersManipulateBefore"
    btn_label: "Call"
    btn_class: "btn--primary"
blog:
  - title: "News"
    excerpt: "Find here under a list of the latest articles on the subjects that matter for us."
about:
  - image_path: /assets/images/volunteers.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "about image"
    title: "Volunteers"
    excerpt: "Here comes something about us..."
    url: "https://tahoe-lafs.org/trac/tahoe-lafs/wiki/AboutUs"
    btn_label: "Read More"
    btn_class: "btn--primary"
---
<div id="documentation">
{% include feature_row id="documentation" type="center" %}
{% include feature_row id="documentation_list" %}
</div>
<div id="contribute">
{% include feature_row id="contribute" type="center" %}
{% include feature_row id="contribute_list" %}
</div>
<div id="blog">
{% include feature_row id="blog" type="center" %}
<div class="entries-grid">
  {% for post in site.posts %}
  <div class="grid__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="archive__item-teaser">
        <img src="{{ post.header.teaser | relative_url }}" alt="">
      </div>
      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
      </h2>
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt }}</p>
    </article>
  </div>
  {% endfor %}
</div>
<div id="about">
{% include feature_row id="about" type="right" %}
</div>
